Project v8engine

Namespace organization
v8 {
    
    rendering {

        directx {
            shaders
            textures
            vertex decl
            states (sampler, raster, blend)
            effects
        }

        opengl {
            shaders
            textures
            vertex decl
            states (sampler, raster, blend)
            effects
        }

        meshes
        materials
        vertex_formats

        asset caching (textures, meshes, shaders, materials, vertices, etc)

    }

    scene {
        entities
        lights
    }

    io {
        filesys config system
        reading/writing files
    }

    utility {
        random numbers
        config files
        hashing
    }

}

include
        v8
        |______rendering
        |           |_______directx
        |           |_______opengl
        |
        |______scene
        |
        |______io
        |
        |______utility
        |
        |_____math
        |
        |_____base
        |
        |_____etc
        |
        |
        |______third_party
                    |
                    |_______stlsoft
                    |
                    |_______assimp
                    |
                    |_______rapidjson
